.header {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
}
.header .header__logo {
  display: flex;
  align-items: center;
  margin-right: 40px;
  margin-left: 20px;
}
.header .header__section {
  list-style: none;
  display: flex;
}
.header .header__section .header__navigation {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}
.header .header__section .header__navigation .header__link {
  height: 16px;
  left: 548px;
  top: 32px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  margin-right: 50px;
  align-items: center;
  color: black;
}
.header .header__section .header__navigation .header__link:hover {
  color: #3791db;
  cursor: pointer;
}
.header .header__section .header__navigation .header__link:hover {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header .header__section .header__navigation .header__link--active {
  animation: anim 2s ease 0s 1 normal forwards;
}
.header .header__section .header__navigation .header__link--active:hover:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -24px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #3791db;
  transition: background-color 250ms ease;
}
.header .header__section .header__navigation #e::after {
  content: "";
  position: absolute;
  top: 68px;
  display: block;
  width: 74px;
  height: 4px;
  background-color: #3791db;
}
.header .header__section .header__navigation .header__link-text {
  color: #3791db;
  animation: anim 2s ease 0s 1 normal forwards;
}
.header .header__section .header__navigation .header__navigation-right {
  display: flex;
  margin-right: 40px;
}
.header .header__section .header__navigation .header__navigation-right .header__contact {
  display: flex;
  align-items: center;
  animation: anim 2s ease 0s 1 normal forwards;
}
.header .header__section .header__navigation .header__navigation-right .header__contact span, .header .header__section .header__navigation .header__navigation-right .header__contact a {
  color: black;
  transition: color 0.3s;
  outline: none;
}
.header .header__section .header__navigation .header__navigation-right .header__contact:hover span, .header .header__section .header__navigation .header__navigation-right .header__contact:hover a {
  color: #3791db;
}
.header .header__section .header__navigation .header__navigation-right .header__contact:hover {
  color: #3791db;
}
.header .header__section .header__navigation .header__navigation-right .header__contact .icon-envelope1 {
  margin-left: 87px;
}
.header .header__section .header__navigation .header__navigation-right .header__contact .icon-Vector {
  margin-left: 65px;
}
.header .header__section .header__navigation .header__navigation-right .header__contact .header__icon {
  padding-right: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header .header__section .header__navigation .header__navigation-right .header__contact .header__email {
  color: black;
  font-size: 14px;
  text-decoration: none;
}
.header .header__section .header__navigation .header__navigation-right .header__contact .header__email:hover {
  color: #3791db;
}
.header .header__section .header__navigation .header__navigation-right .header__contact .header__email {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header .header__section .header__navigation .header__navigation-right .header__contact .header__phone {
  align-items: center;
  color: black;
  font-size: 14px;
  text-decoration: none;
}
.header .header__section .header__navigation .header__navigation-right .header__contact:hover {
  color: #3791db;
}
.header .header__section .header__navigation .header__navigation-right .header__contact {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters {
  justify-content: center;
}
.filters .filters__container {
  padding-top: 44px;
  width: 1170px;
  margin: 0 auto;
}
.filters .filters__container .filters__button-group {
  justify-content: center;
  display: flex;
}
.filters .filters__button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  background-color: rgb(244, 244, 244);
  color: black;
  border: 0px;
  border-radius: 10px 10px;
  margin-right: 20px;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  justify-content: center;
  animation: myAnim 2s ease 0s 10000 normal forwards;
}
.filters .filters__button:hover {
  background-color: #3791db;
  color: white;
  box-shadow: 0px 2px 5px #989898;
  cursor: pointer;
}

@keyframes myAnim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.portfolio {
  padding-left: 5px;
  align-items: center;
  padding: 50px 0;
}
.portfolio .portfolio__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  width: 1170px;
  padding-bottom: 90px;
  margin: 0 auto;
}
.portfolio .portfolio__container .portfolio__item {
  align-items: flex-start;
  justify-content: space-between;
  flex-basis: calc((100% - 60px) / 3);
  width: 31%;
  border: 2px solid rgb(244, 244, 244);
  box-sizing: border-box;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio .portfolio__container .portfolio__item:hover {
  box-shadow: 0px 5px 10px #989898;
}
.portfolio .portfolio__container .portfolio__item:hover .portfolio__overlay, .portfolio .portfolio__container .portfolio__item:focus .portfolio__overlay {
  bottom: 0;
  cursor: pointer;
}
.portfolio .portfolio__container .portfolio__item .portfolio__card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.portfolio .portfolio__container .portfolio__item .portfolio__card:hover .card-img {
  transform: scale(1.2);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio .portfolio__container .portfolio__item .portfolio__card:hover .card-img .main-img {
  width: 100%;
}
.portfolio .portfolio__container .portfolio__item .portfolio__card:hover .card-img .portfolio__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio .portfolio__container .portfolio__item .portfolio__overlay {
  width: 309px;
  height: 235px;
  position: absolute;
  bottom: -103%;
  left: 0;
  right: 0;
  background-color: #3791db;
  color: white;
  text-align: center;
  padding: 30px;
  transition: bottom 0.5s;
  cursor: pointer;
}
.portfolio__item:hover .portfolio .portfolio__container .portfolio__item .portfolio__overlay, .portfolio__item:focus .portfolio .portfolio__container .portfolio__item .portfolio__overlay {
  bottom: 0;
  cursor: pointer;
}
.portfolio .portfolio__container .portfolio__item .portfolio__overlay .portfolio__description {
  text-align: left;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 29px;
  font-family: "Roboto", sans-serif;
}
.portfolio .portfolio__container .portfolio__item .portfolio__title {
  display: flex;
  padding-bottom: 4px;
  padding-top: 20px;
  font-weight: 700;
  font-size: 18px;
  margin-left: 25px;
  font-family: "Roboto", sans-serif;
}
.portfolio .portfolio__container .portfolio__item .portfolio__type {
  font-family: "Roboto", sans-serif;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  color: #757575;
  line-height: 30px;
  margin-left: 25px;
}

.footer {
  color: white;
  background-color: black;
  padding: 94px 0;
  font-family: "Roboto", sans-serif;
}
.footer .footer__section {
  display: block;
}
.footer .footer__section .footer__container {
  display: flex;
  justify-content: center;
  padding: 0 15px;
  margin: 0 auto;
}
.footer .footer__section .footer__container .footer__content {
  display: flex;
}
.footer .footer__section .footer__container .footer__content .footer__info {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  justify-content: center;
}
.footer .footer__section .footer__container .footer__content .footer__info .footer__logo {
  width: 145px;
}
.footer .footer__section .footer__container .footer__content .footer__info .footer__address, .footer .footer__section .footer__container .footer__content .footer__info .footer__email, .footer .footer__section .footer__container .footer__content .footer__info .footer__phone {
  color: white;
  padding-left: 15px;
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 16px;
}
.footer .footer__section .footer__container .footer__content .footer__social {
  margin-left: 105px;
  margin-top: 10px;
}
.footer .footer__section .footer__container .footer__content .footer__social .footer__social-title {
  color: white;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  display: flex;
}
.footer .footer__section .footer__container .footer__content .footer__social .footer__social-icon {
  font-size: 20px;
  color: rgb(175, 177, 184);
  margin-bottom: 44px;
  padding: 10px;
  border-radius: 50%;
  background-color: #454545;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .footer__section .footer__container .footer__content .footer__social .footer__social-icon:hover {
  cursor: pointer;
  color: white;
  background-color: #3791db;
}
.footer .footer__section .footer__container .footer__subscription {
  text-align: center;
  margin-top: 10px;
}
.footer .footer__section .footer__container .footer__subscription .footer__form {
  margin-left: 93px;
}
.footer .footer__section .footer__container .footer__subscription .footer__form label {
  font-size: 14px;
}
.footer .footer__section .footer__container .footer__subscription .footer__form .footer__label {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: white;
  display: flex;
}
.footer .footer__section .footer__container .footer__subscription .footer__form .footer__input-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer__section .footer__container .footer__subscription .footer__form .footer__input-group .footer__input {
  padding-left: 28px;
  background-color: black;
  border: solid #616161 3px;
  border-radius: 5px 5px 5px 5px;
  font-size: 16px;
  width: 308px;
  height: 46px;
  color: white;
}
.footer .footer__section .footer__container .footer__subscription .footer__form .footer__input-group .footer__input:focus {
  outline: none;
}
.footer .footer__section .footer__container .footer__subscription .footer__form .footer__input-group .footer__button {
  border: none;
  border-radius: 5px 5px;
  background-color: #3791db;
  color: white;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 19px;
  margin-top: 19px;
  margin-left: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 48px;
  padding-left: 48px;
  background-color: #3791db;
  color: white;
  border: none;
  animation: myAnim 2s ease 0s 10000 normal forwards;
}
.footer .footer__section .footer__container .footer__subscription .footer__form .footer__input-group .footer__button-icon {
  padding-left: 8px;
}/*# sourceMappingURL=portfolio.css.map */