.header {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.header .header__nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}
.header .header__nav .header__logo {
  font-size: 14px;
  line-height: 61.41%;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 40px;
}
.header .header__nav .header__navigation-center {
  display: flex;
  margin-right: 84px;
}
.header .header__nav .header__navigation-center .header__link {
  animation: anim 2s ease 0s 1 normal forwards;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  letter-spacing: 6%;
  align-content: center;
  font-weight: 500;
  font-size: 14px;
  margin-right: 50px;
  color: black;
  vertical-align: top;
  position: relative;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header .header__nav .header__navigation-center .header__link--active {
  animation: anim 2s ease 0s 1 normal forwards;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  letter-spacing: 6%;
  align-content: center;
  font-weight: 500;
  font-size: 14px;
  margin-right: 50px;
  color: black;
  vertical-align: top;
  position: relative;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250s cubic-bezier(0.4, 0, 0.2, 1);
}
.header .header__nav .header__navigation-center .header__link--active:hover:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -24px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #3791db;
  transition: background-color 250ms ease;
}
.header .header__nav .header__navigation-center .header__link--active:hover {
  color: #3791db;
}
.header .header__nav .header__navigation-center .header__link--active.header__link--active {
  color: #3791db;
}
.header .header__nav .header__navigation-center .header__link--active:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -24px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #3791db;
}
.header .header__navigation-right {
  display: flex;
  margin-right: 20px;
  margin-left: 10px;
}
.header .header__navigation-right .header__contact {
  display: flex;
  animation: anim 2s ease 0s 1 normal forwards;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header .header__navigation-right .header__contact span, .header .header__navigation-right .header__contact a {
  color: black;
  transition: color 0.3s;
  outline: none;
}
.header .header__navigation-right .header__contact:hover span, .header .header__navigation-right .header__contact:hover a {
  color: #3791db;
}
.header .header__navigation-right .header__contact:hover {
  color: #3791db;
}
.header .header__navigation-right .header__contact .header__icon--email,
.header .header__navigation-right .header__contact .header__icon--phone {
  font-size: 1;
  padding-right: 10px;
}
.header .header__navigation-right .header__tel {
  display: flex-end;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  letter-spacing: 6%;
  align-content: center;
  font-weight: 500;
  font-size: 14px;
  color: black;
  vertical-align: top;
  margin-left: auto;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header .header__navigation-right .header__tel:hover {
  color: #3791db;
}
.header .header__navigation-right .header__icon--phone {
  margin-left: 65px;
}

.intro {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.247), rgba(47, 48, 58, 0.247)), url(../photos/img16.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 140px 0;
}
.intro .intro__article {
  position: relative;
  z-index: 3;
  color: white;
  text-align: center;
  padding: 50px;
}
.intro .intro__article .intro__title {
  font-family: "Roboto", sans-serif;
  line-height: 60%;
  animation: anim 2s ease 0s 1 normal forwards;
  font-size: 44px;
  font-weight: 900;
  text-align: center;
  line-height: 136%;
  width: 596px;
  margin: 0 auto;
  line-height: 136%;
  display: flex;
}
.intro .intro__article .intro__button {
  animation: myAnim 2s ease 0s 1000 normal forwards;
  background-color: white;
  border: 0;
  font-size: 20px;
  padding: 20px 30px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.05cm;
  text-align: center;
  background-color: #3791db;
  color: white;
  border: 0px;
  border-radius: 10px 10px;
  display: block;
  margin: 20px auto 20px;
  padding: 10px 32px;
  cursor: pointer;
}
.intro .modal__title {
  margin-top: 40px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 600;
  color: black;
}
.intro .modal__label--checkbox {
  background-image: url(svg/icomoon/demo-files/);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #757575;
  color: #454545;
  display: flex;
  padding-top: 17px;
  padding-bottom: 1px;
}
.intro .modal__label {
  background-image: url(svg/icomoon/demo-files/);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #757575;
  color: #454545;
  display: flex;
  padding-left: 30px;
  padding-top: 17px;
  padding-bottom: 1px;
}
.intro .modal__div:focus-within .rrt {
  color: #3791db;
}
.intro .modal__div:focus-within .rt {
  color: #3791db;
}
.intro .modal__div:focus-within .rtt {
  color: #3791db;
}
.intro form input,
.intro form textarea {
  width: 468px;
  padding: 8px;
  box-sizing: border-box;
  padding-left: 22px;
}
.intro .modal__div:focus-within .rrt {
  color: #3791db;
}
.intro .modal__div:focus-within .rt {
  color: #3791db;
}
.intro .modal__div:focus-within .rtt {
  color: #3791db;
}
.intro input[type=text]:focus {
  border: 2px solid #3791db;
  border-radius: 2px;
  outline-width: 0;
  color: black;
}
.intro .form input,
.intro form textarea:last-child {
  height: 120px;
}
.intro input[type=tel]:focus {
  border: 2px solid #3791db;
  border-radius: 2px;
  outline-width: 0;
  color: black;
}
.intro input[type=text]:focus {
  border: 2px solid #3791db;
  border-radius: 2px;
  outline-width: 0;
  color: black;
}
.intro textarea[type=email]:focus {
  border: 2px solid #3791db;
  border-radius: 2px;
  color: black;
  outline-width: 0;
}
.intro .modal__textarea:focus {
  border: 2px solid #3791db;
}
.intro #agreement {
  width: 20px;
}
.intro .modal__label--checkbox {
  justify-content: center;
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #757575;
  padding-top: 10px;
}
.intro .modal__link {
  color: #3791db;
  padding-left: 4px;
}
.intro form button[type=submit] {
  margin-bottom: 40px;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 48px;
  padding-left: 48px;
  background-color: #3791db;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px 5px;
}
.intro form button[type=submit]:hover {
  background-color: #3791db;
}
.intro .rtt {
  color: black;
  font-size: 15px;
  position: absolute;
  left: 37px;
  top: 174px;
}
.intro .rrt {
  color: black;
  font-size: 19px;
  position: absolute;
  left: 35px;
  top: 101px;
}
.intro .rrt:focus {
  color: #3791db;
}
.intro .rt {
  color: black;
  font-size: 12px;
  position: absolute;
  left: 37px;
  top: 244px;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.383);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 528px;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
  border-radius: 5px 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 10px black;
}
.modal .modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
.modal .modal__close:hover {
  color: #3791db;
}

@keyframes myAnim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.features {
  margin-top: 94px;
}
.features .features__container {
  width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.features .features__container .features__item {
  letter-spacing: 6%;
  font-weight: 500;
  font-size: 14px;
  vertical-align: top;
  justify-content: space-between;
  width: 24%;
}
.features .features__container .features__item .one::before {
  width: 100%;
  height: 120px;
  display: block;
}
.features .features__container .features__item .two::before {
  content: "";
  width: 100%;
  height: 120px;
  display: block;
}
.features .features__container .features__item .three::before {
  content: "";
  width: 100%;
  height: 120px;
  display: block;
}
.features .features__container .features__item .four::before {
  content: "";
  width: 100%;
  height: 120px;
  display: block;
}
.features .features__title {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 438.64%;
  font-weight: 700;
  animation: anim 2s ease 0s 1 normal forwards;
}
.features .features__description {
  line-height: 170%;
  font-family: "Roboto", sans-serif;
  padding-bottom: 30.46px;
  font-size: 16px;
  font-weight: 400;
  color: #757575;
  animation: anim 2s ease 0s 1 normal forwards;
}

.services {
  padding-top: 94px;
  padding-bottom: 94px;
}
.services .services__title {
  font-family: "Roboto", sans-serif;
  font-size: 44px;
  font-weight: 900;
  text-align: center;
  line-height: 136%;
  margin-bottom: 50px;
  animation: anim 2s ease 0s 1 normal forwards;
}
.services .services__container {
  width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}
.services .services__container .services__list {
  display: flex;
  justify-content: space-between;
}
.services .services__text {
  margin: 0 auto;
  position: absolute;
  top: 1468px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  width: 370px;
  line-height: 16.41px;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
  background-color: rgba(0, 0, 0, 0.529);
}
.services .services__text1 {
  margin: 0 auto;
  position: absolute;
  top: 1468px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  width: 370px;
  line-height: 16.41px;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
  background-color: rgba(0, 0, 0, 0.529);
}

.team {
  background-color: rgb(244, 244, 244);
  padding: 161px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.team .team__container {
  width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}
.team .team__container .team__title {
  font-family: "Roboto", sans-serif;
  font-size: 44px;
  font-weight: 900;
  text-align: center;
  line-height: 136%;
  margin-bottom: 50px;
}
.team .team__container .team__list {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
.team .team__container .team__list .team__member {
  background-color: white;
  text-align: center;
  box-shadow: 0px 1px 5px white;
}
.team .team__container .team__list .team__member .team__name {
  font-family: "Roboto", sans-serif;
  padding-bottom: 10.15px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 30px;
}
.team .team__container .team__list .team__member .team__role {
  font-family: "Roboto", sans-serif;
  padding-bottom: 30.46px;
  font-size: 16px;
  font-weight: 400;
  color: #757575;
  animation: anim 2s ease 0s 1 normal forwards;
}
.team .team__container .team__list .team__member .team__social {
  display: flex;
  justify-content: space-evenly;
}
.team .team__container .team__list .team__member .team__social .team__icon {
  font-size: 20px;
  color: rgb(175, 177, 184);
  margin-bottom: 44px;
  padding: 10px;
  border-radius: 50%;
}
.team .team__container .team__list .team__member .team__social .team__icon:hover {
  cursor: pointer;
  color: white;
  background-color: #3791db;
}
.team .team__container .team__list .team__member .team__social .team__icon {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team .team__container .team__list .team__social {
  display: flex;
  justify-content: space-evenly;
}

.clients__title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  display: flex;
  justify-content: center;
  margin-top: 94px;
}

.clients__logos {
  margin: 0 auto;
  width: 1270px;
  display: flex;
  justify-content: space-between;
}
.clients__logos .clients__logo {
  border: solid rgb(175, 177, 184) 3px;
  color: rgb(176, 177, 184);
  margin-top: 78px;
  margin-bottom: 120px;
  font-size: 46px;
  border-radius: 4px;
  width: 170px;
  padding: 18px 10px;
  text-align: center;
}
.clients__logos .clients__logo {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__logos .clients__logo:hover {
  cursor: pointer;
  color: #3791db;
  border: solid #3791db 3px;
  margin-top: 78px;
  margin-bottom: 120px;
  border-radius: 4px;
}
.clients__logos .clients__logo:hover {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  font-family: "Roboto", sans-serif;
  background-color: rgb(38, 38, 38);
  padding: 94px 0;
}
.footer .footer__content {
  width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
}
.footer .footer__content .footer__info {
  width: 470px;
}
.footer .footer__content .footer__info .footer__logo {
  width: 145px;
}
.footer .footer__content .footer__info .footer__address {
  color: white;
  margin-top: 2px;
  margin-left: 16px;
}
.footer .footer__content .footer__info .footer__contact {
  color: #757575;
  margin: 16px;
}
.footer .footer__content .footer__social {
  width: 400px;
  margin-left: 105px;
  margin-top: 10px;
}
.footer .footer__content .footer__social .footer__social-title {
  font-family: "Roboto", sans-serif;
  color: white;
  margin-bottom: 30px;
}
.footer .footer__content .footer__social .footer__icon {
  font-size: 20px;
  color: rgb(175, 177, 184);
  margin-bottom: 44px;
  padding: 10px;
  border-radius: 50%;
  background-color: #454545;
}
.footer .footer__content .footer__social .footer__icon:hover {
  cursor: pointer;
  color: white;
  background-color: #3791db;
}
.footer .footer__content .footer__social .footer__icon:hover {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .footer__content .footer__subscription {
  text-align: center;
}
.footer .footer__content .footer__subscription .footer__form {
  margin-left: 93px;
  margin-top: 10px;
}
.footer .footer__content .footer__subscription .footer__form label {
  margin-bottom: 10px;
  font-size: 14px;
}
.footer .footer__content .footer__subscription .footer__form .footer__label {
  color: white;
  display: flex;
  font-size: 14px;
}
.footer .footer__content .footer__subscription .footer__form .footer__input-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer__content .footer__subscription .footer__form .footer__input-group input {
  background-color: rgb(38, 38, 38);
  border: solid #757575 4px;
  border-radius: 5px 5px 5px 5px;
  font-size: 16px;
  width: 358px;
  height: 53px;
  color: white;
}
.footer .footer__content .footer__subscription .footer__form .footer__input-group input,
.footer .footer__content .footer__subscription .footer__form .footer__input-group input form textarea {
  padding: 8px;
  box-sizing: border-box;
  padding-left: 22px;
}
.footer .footer__content .footer__subscription .footer__form .footer__input-group button {
  border: none;
  border-radius: 5px 5px;
  background-color: #3791db;
  color: white;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 19px;
  margin-top: 19px;
  margin-left: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 48px;
  padding-left: 48px;
  background-color: #3791db;
  color: white;
  border: none;
  animation: myAnim 2s ease 0s 10000 normal forwards;
}
.footer .footer__content .footer__subscription .footer__form .footer__input-group button .footer__input-group input:focus, .footer .footer__content .footer__subscription .footer__form .footer__input-group button:focus {
  outline: none;
}
.footer .footer__content .footer__subscription .footer__form .footer__input-group button .footer__submit-icon {
  margin-left: 10px;
}/*# sourceMappingURL=style.css.map */