.header {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.header .header-navigation {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}
.header .header-navigation .header-a {
  font-size: 14px;
  line-height: 61.41%;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 40px;
}
.header .header-navigation .navigation-center {
  display: flex;
  margin-right: 84px;
}
.header .header-navigation .navigation-center .header-a1 {
  animation: anim 2s ease 0s 1 normal forwards;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  letter-spacing: 6%;
  align-content: center;
  font-weight: 500;
  font-size: 14px;
  margin-right: 50px;
  color: #212121;
  vertical-align: top;
  position: relative;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header .header-navigation .navigation-center .header-a1:hover:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -24px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #44acff;
  transition: background-color 250ms ease;
}
.header .header-navigation .navigation-center .header-a1:hover {
  color: #44acff;
}
.header .header-navigation .navigation-center .header-a1.xc {
  color: #3791db;
  transition: background-color 250s cubic-bezier(0.4, 0, 0.2, 1);
}
.header .header-navigation .navigation-center .header-a1.xc:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -24px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #44acff;
}
.header .header-navigation .navigation-right {
  display: flex;
  margin-right: 20px;
  margin-left: 10px;
}
.header .header-navigation .navigation-right .ic {
  display: flex;
  animation: anim 2s ease 0s 1 normal forwards;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header .header-navigation .navigation-right .ic span, .header .header-navigation .navigation-right .ic a {
  color: black;
  transition: color 0.3s;
  outline: none;
}
.header .header-navigation .navigation-right .ic:hover span, .header .header-navigation .navigation-right .ic:hover a {
  color: #2196F3;
}
.header .header-navigation .navigation-right .ic:hover {
  color: #2196F3;
}
.header .header-navigation .navigation-right .ic .smm {
  font-size: 1;
  padding-right: 10px;
}
.header .header-navigation .navigation-right .header-tel {
  display: flex-end;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  letter-spacing: 6%;
  align-content: center;
  font-weight: 500;
  font-size: 14px;
  color: #212121;
  vertical-align: top;
  margin-left: auto;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header .header-navigation .navigation-right .header-tel:hover {
  color: var(--color-acent);
}
.header .header-navigation .navigation-right .icon-Vector {
  margin-left: 65px;
}

.section-one {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(photos/img16.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 140px 0;
}/*# sourceMappingURL=style.css.map */