.features {
    margin-top: 94px;

    .features__container {
        width: 1270px;
        padding: 0 15px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .features__item {
            letter-spacing: 6%;
            font-weight: 500;
            font-size: 14px;
            vertical-align: top;
            justify-content: space-between;
            width: 24%;


            .one::before {
              @extend %feature-block;
            }

            .two::before {
              @extend %feature-block;
            }

            .three::before {
              @extend %feature-block;
              }
              
              .four::before {
                @extend %feature-block; 
              }
              
        }
    }

    .features__title {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        line-height: 438.64%;;
        font-weight: 700;
        animation: anim 2s ease 0s 1 normal forwards;
      }

      .features__description {
        line-height: 170%;
        font-family: $font-face;
        padding-bottom: 30.46px;
        font-size: 16px;
        font-weight: 400;
        color: $text-color;
        animation: anim 2s ease 0s 1 normal forwards;
      }
}