.section-two1 {
    margin-top: 94px;

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .section-two {
            line-height: 60px;
            letter-spacing: 6%;
            font-weight: 500;
            font-size: 14px;
            vertical-align: top;
            justify-content: space-between;
            width: 24%;


            #one::before {
                content: '';
                width: 100%;
                height: 120px;
                background-image: url('photos/group1.jpg');
                background-repeat: no-repeat;
                display: block;
            }

            #two::before {
                content: '';
                width: 100%;
                height: 120px;
                background-image: url('photos/group2.jpg');
                background-repeat: no-repeat;
                display: block;
            }
        }
    }
}