.services {
    padding-top: 94px;
    padding-bottom: 94px;
    @extend %flex;


    .services__title {
      @include title;

        @extend %flex;
        line-height: 136%;
        margin-bottom: 50px;
        animation: anim 2s ease 0s 1 normal forwards;
    }

        .services__container {
            width: 1270px;
            padding: 0 15px;
            margin: 0 auto;

        .services__list {
            display: flex;
            justify-content: space-between;
      }
    }

  
      .services__text {
        position: absolute;
        top: 1438px;
        @include text($color: #757575);
        width: 370px;
        line-height: 16.41px;
        @extend %flex;
        padding-top: 27px;
        padding-bottom: 27px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $root-color-two;
        background-color:  $underlayer-color-two;
      }
      }