$accent-color: #3791db; 
$text-color: #757575;
$root-color: black;
$root-color-two: white;
$icon-color: #454545;
$shadow-color: rgba(175, 177, 184, 1);
$clients-color: rgba(176, 177, 184, 1);
$footer-color: rgb(38, 38, 38);
$underlayer-color: rgba(47, 48, 58, 0.247);
$underlayer-color-two: rgba(0, 0, 0, 0.529);
$background-backdrop-color: rgba(0, 0, 0, 0.383);
$back-color: rgba(244, 244, 244);
$font-face: 'Roboto', sans-serif;;

